/* Font importing */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f7f7f7;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #00000006;
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}


#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label{
    height: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    width: 350px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}